p {
    white-space: pre-wrap;
    line-height: 2em;
}

h1 {
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
    margin: 1em 0em 1em 0em;
}

h3 {
    font-size: x-large;
    margin: 1em 0em 0.5em 0em;
}

main a {
    color: aqua;
    text-decoration: underline;
}

main ul {
    padding-left: 2em;
    list-style-type: circle;
}

ol {
    padding-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: decimal;
}

blockquote {
    color: lightgray;
    border-left: 4px;
    border-color: #8560fe;
    border-style: solid;
    padding-left: 12px;
    margin-top: 1em;
    margin-bottom: 1em;
}